/* common elements */

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif, Helvetica, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif, Helvetica, sans-serif;
  color: #333;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

main {
  max-width: 700px;
  margin: 50px auto 200px auto;
  padding: 20px;
}

main > div {
  margin-bottom: 80px;
}

nav h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

nav h3 a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

nav h3 a:hover {
  opacity: 0.8;
}

a {
  color: #339cc2;
}

button {
  background-color: #45c5f7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* images */

img#icon {
  width: 36px;
  height: 36px;
}

/* appstore button */

#landing-appstore-buttons,
#footer-appstore-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

#footer-appstore-buttons {
  justify-content: center;
  text-align: center;
}

/* lists */

ul.no-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* rain */

#rain hr {
  border-color: transparent;
  border-right-color: #1467c2;
  border-right-width: 15px;
  position: fixed;
  bottom: 100%;
  transform-origin: 100% 50%;
  opacity: 0.4;
  user-select: none !important;
  pointer-events: none !important;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}

/* footer */

footer {
  text-align: center;
  margin-top: 200px;
  font-size: 14px;
}

#footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  items-align: center;
  flex-wrap: wrap;
}

#footer-links a {
  text-decoration: none;
}

#footer-links a:hover {
  text-decoration: underline;
}

/* slideshow */

#screenshots-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#screenshots-container .subtext {
  text-align: center;
  display: block;
  font-size: 10px;
  margin-top: 5px;
}

#slideshow-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#slideshow .slideshow-img.hidden {
  display: none;
}

.slideshow-img {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
}

.slideshow-img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

/* landing blurbs */

#landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

/* mobile */

@media (max-width: 700px) {
  #landing {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* transitions */

.zoom-on-hover {
  transition: all 0.3s ease-in-out;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

#reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

#reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  items-align: center;
}

#reviews iframe {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* product hunt */

#product-hunt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

#product-hunt {
  display: flex;
  margin-top: 10px;
}

#product-hunt-5-daily {
  display: flex;
  margin-top: 10px;
  max-width: 130px;
}

/* other */

.subtext {
  font-size: 14px;
  color: rgb(190, 190, 190);
}
