/* common elements */

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif, Helvetica, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif, Helvetica, sans-serif;
  color: #333;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

main {
  max-width: 700px;
  margin: 50px auto 200px auto;
  padding: 20px;
}

main > div {
  margin-bottom: 80px;
}

nav h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

a {
  color: #339cc2;
}

button {
  background-color: #45c5f7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* images */

img#icon {
  width: 36px;
  height: 36px;
}

img#screenshot {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

img#screenshot:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

/* video */

#video {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 50px auto;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* appstore button */

.appstore-button.center {
  text-align: center;
}

.appstore-button .download {
  width: 150px;
}

/* lists */

ul.no-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* rain */

#rain hr {
  border-color: transparent;
  border-right-color: #1467c2;
  border-right-width: 15px;
  position: fixed;
  bottom: 100%;
  transform-origin: 100% 50%;
  opacity: 0.4;
  user-select: none !important;
  pointer-events: none !important;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}

/* footer */

footer {
  text-align: center;
  margin-top: 100px;
  font-size: 14px;
}

#footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  items-align: center;
}

/* slideshow */

#slideshow-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

#slideshow .slideshow-img.hidden {
  display: none;
}

/* landing blurbs */

#landing {
  /* grid cols*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

/* mobile */

@media (max-width: 700px) {
  #landing {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* transitions */

.zoom-on-hover {
  transition: all 0.2s ease-in-out;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

#product-hunt-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

#product-hunt {
  display: flex;
  margin-top: 10px;
}

#product-hunt-5-daily {
  display: flex;
  margin-top: 10px;
  max-width: 130px;
}
